@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 92%;
    --foreground: 212 33% 15%;
    --card: 240 5% 98%;
    --card-foreground: 212 33% 15%;
    --popover: 240 5% 98%;
    --popover-foreground: 212 33% 15%;
    --primary: 212 33% 34%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 88%;
    --secondary-foreground: 212 33% 20%;
    --muted: 240 5% 88%;
    --muted-foreground: 212 33% 40%;
    --accent: 268 34% 52%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 82%;
    --input: 240 5% 85%;
    --ring: 268 34% 52%;
    --chart-1: 212 33% 34%;
    --chart-2: 268 34% 52%;
    --chart-3: 212 25% 55%;
    --chart-4: 268 25% 65%;
    --chart-5: 212 15% 75%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 212 33% 10%;
    --foreground: 0 0% 95%;
    --card: 212 33% 14%;
    --card-foreground: 0 0% 95%;
    --popover: 212 33% 10%;
    --popover-foreground: 0 0% 95%;
    --primary: 212 33% 70%;
    --primary-foreground: 212 33% 10%;
    --secondary: 212 33% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 212 33% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 268 44% 72%;
    --accent-foreground: 212 33% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 212 33% 20%;
    --input: 212 33% 20%;
    --ring: 268 44% 72%;
    --chart-1: 212 33% 70%;
    --chart-2: 268 44% 72%;
    --chart-3: 212 25% 50%;
    --chart-4: 268 30% 60%;
    --chart-5: 212 15% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
